h1
{
	font-size: 100px;
	color: #00BFFF;
	margin-top: 50px;
}

h2
{
	font-size: 50px;
	color: red;
}

h3
{
	font-size: 40px;
	color: white;
	margin-left: 50px;
}

p
{
	color: white;
	margin-left: 50px;
}

audio
{
	margin-left: 50px;
}

body
{
	background-color: #b5b5b5;
}

#cartouche
{
	width: center;
	margin:0 auto;
	background-color: green;
	text-align: -100px;
	align-content: center;
	padding: 50px;
	padding-top: 50px;
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
}

#fondmenu
{
	width: 100%;
	height: 50px;
	background: linear-gradient(#7cb7ff, #1b81ff);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2),
			0px 1px 0px 1px rgba(255,255,255,0.5) inset,
			0px -3px 0px 1px rgba(0,0,0,0.1) inset;
}

#menu
{
	margin-right: auto;
	margin-left: auto;
	display: table;
	padding: 0;
	margin-top: 0;
}

#menu li
{
	display: table-cell;
	width: 180px;
	transition: 1s;
}

#menu li:hover
{
	width: 190px;
	transition: 1s;
}

#menu a
{
	color: white;
	text-decoration: none;
	display: block;
	line-height: 46px;
	text-align: center;
	transition: text-shadow, color 1s;
}

#menu a:hover
{
	color: black;
	background: rgba(255,255,255,0.1);
	transition: text-shadow, color 1s;
	border-bottom: 4px solid rgba(255,255,255,0.8);
}

#carte
{
	width: center;
	margin:0 auto;
	background-color: black;
	text-align: -100px;
	align-content: center;
	padding: 8px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 40px;
	margin-right: 40px;
	margin-left: 40px;
}